In [ ]:
#!pip install simple_salesforce
#!pip install pymysql
#!pip install sqlalchemy

In [1]:
import json
from sqlalchemy import create_engine
from datetime import date
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Make sure to use your own `config.py` file. Consider ensuring that these variable names are in sync
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

In [3]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

In [4]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Prepare ETL for the Student data

In [5]:
student_data_df = pd.read_sql("SELECT * FROM student", conn)
student_data_df.head()

   ID_Student StudentID  LastName  FirstName MiddleName BirthDate Gender
0          33  25004961  Dartling    Heather      Alice      None      F
1          34  25003514  Dartling       Lana    Cecille      None      F
2          35  25005833  Dartling    Jessica    Dorothy      None      F
3          36  25002589  Dartling   Kimberly  Genevieve      None      F
4          37  25007185  Dartling  Katherine   Lynnette      None      F

In [6]:
# student_data_df
# student_data_df['BirthDate'] = pd.to_datetime(student_data_df['BirthDate']).dt.date
# student_data_df.head()

In [7]:
student_data_df.rename(columns={
    'StudentID':'Student_ID__c',
    'FirstName':'First_Name__c',
    'LastName':'Last_Name__c',
    'MiddleName':'Middle_Name__c',
    'BirthDate':'Birth_Date__c',
    'Gender':'Gender__c',    
}, inplace=True)
student_data_df.head()

,ID_Student,Student_ID__c,Last_Name__c,First_Name__c,Middle_Name__c,Birth_Date__c,Gender__c
0,33,25004961,Dartling,Heather,Alice,None,F
1,34,25003514,Dartling,Lana,Cecille,None,F
2,35,25005833,Dartling,Jessica,Dorothy,None,F
3,36,25002589,Dartling,Kimberly,Genevieve,None,F
4,37,25007185,Dartling,Katherine,Lynnette,None,F

In [8]:
student_data_df = student_data_df[['Student_ID__c', 'Last_Name__c', 'First_Name__c', 'Middle_Name__c', 'Birth_Date__c', 'Gender__c']]
student_data_df.head()

,Student_ID__c,Last_Name__c,First_Name__c,Middle_Name__c,Birth_Date__c,Gender__c
0,25004961,Dartling,Heather,Alice,None,F
1,25003514,Dartling,Lana,Cecille,None,F
2,25005833,Dartling,Jessica,Dorothy,None,F
3,25002589,Dartling,Kimberly,Genevieve,None,F
4,25007185,Dartling,Katherine,Lynnette,None,F

In [9]:
student_data_records = student_data_df.to_dict('records')
student_data_records

[{'Student_ID__c': '25004961',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Heather',
  'Middle_Name__c': 'Alice',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25003514',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Lana',
  'Middle_Name__c': 'Cecille',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25005833',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Jessica',
  'Middle_Name__c': 'Dorothy',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25002589',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Kimberly',
  'Middle_Name__c': 'Genevieve',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25007185',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Katherine',
  'Middle_Name__c': 'Lynnette',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25006014',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Precious',
  'Middle_Name__c': 'Mariette',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25007528',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Cindy',
  'Middle_Name__c': 'Patty',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25003778',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Carlie',
  'Middle_Name__c': 'Raelene',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25003605',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Clementine',
  'Middle_Name__c': 'Kendall',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25002056',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Amirah',
  'Middle_Name__c': 'Angela',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25004152',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Sarah',
  'Middle_Name__c': 'Serita',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25004097',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Julia',
  'Middle_Name__c': 'Claire',
  'Birth_Date__c': None,
  'Gender__c': 'F'},
 {'Student_ID__c': '25002311',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Jimmy',
  'Middle_Name__c': 'Carlton',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25005602',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Joseph',
  'Middle_Name__c': 'Cyrus',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25006805',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Perry',
  'Middle_Name__c': 'Danny',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25006947',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Todd',
  'Middle_Name__c': 'Darren',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25002714',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Tom',
  'Middle_Name__c': 'Deangelo',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25005284',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Aditya',
  'Middle_Name__c': 'Dion',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25006348',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Chris',
  'Middle_Name__c': 'Floyd',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25002555',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Christopher',
  'Middle_Name__c': 'Horace',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25005250',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Cole',
  'Middle_Name__c': 'Lino',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25002325',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'David',
  'Middle_Name__c': 'Lucien',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25003773',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Dino',
  'Middle_Name__c': 'Lynwood',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25003936',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'John',
  'Middle_Name__c': 'Noelle',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25005443',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Michael',
  'Middle_Name__c': 'Parker',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25006762',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Patrick',
  'Middle_Name__c': 'Richard',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25006027',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Robert',
  'Middle_Name__c': 'Riley',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25002876',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Trevor',
  'Middle_Name__c': 'Seth',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25007333',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Yasir',
  'Middle_Name__c': 'Solomon',
  'Birth_Date__c': None,
  'Gender__c': 'M'},
 {'Student_ID__c': '25007334',
  'Last_Name__c': 'Dartling',
  'First_Name__c': 'Kevin',
  'Middle_Name__c': 'Stewart',
  'Birth_Date__c': None,
  'Gender__c': 'M'}]

## Insert `Student` Records into Salesforce

In [10]:
for rec in student_data_records:

    record = {
        'Student_ID__c': rec['Student_ID__c'],
        'Last_Name__c': rec['Last_Name__c'],
        'First_Name__c': rec['First_Name__c'],
        'Middle_Name__c': rec['Middle_Name__c'],
        'Birth_Date__c': rec['Birth_Date__c'],
        'Gender__c': rec['Gender__c']
    }
    
    try:
        sf.Student__c.create(record)
    except Exception as e:
        print(e)

Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZI0', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZI5', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIA', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIF', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIK', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIP', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIU', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIZ', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIe', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIj', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIo', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIt', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZIy', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJ3', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJ8', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJD', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJI', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJN', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJS', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJX', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJc', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJh', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJm', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJr', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZJw', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZK1', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZK6', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZKB', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZKG', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
Malformed request https://cooperassetmanagement-dev-ed.my.salesforce.com/services/data/v42.0/sobjects/Student__c/. Response content: [{'message': 'duplicate value found: Student_ID__c duplicates value on record with id: a054x0000010ZKL', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]

In [ ]:
# Bulk 
#sf.bulk.Student__c.insert(student_data_records)

## Create Student Lookup Table
You will use this later to crosswalk the course code with the primary key from the `Course` table

It is important to note that we will be querying **Salesforce** to retrieve the record IDs

In [ ]:
course_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
# The Salesforce query language is called SOQL 
data = sf.query_all_iter("SELECT Course_Code__c, Name FROM Course__c")
for row in data:
    rec = {
        'ID_Course__c': row['Name'], # this is a critical line of code
        'Course_Code__c': row['Course_Code__c']
    }
    course_lookup_list.append(rec)
    
course_lookup_list

In [ ]:
course_lookup_df = pd.DataFrame(course_lookup_list)
course_lookup_df

In [ ]:
# Query the `Class` table from MySQL
query = '''
    SELECT 
        co.CourseCode,
        cl.*
    FROM 
        class cl
        INNER JOIN course co
        ON cl.ID_Course = co.ID_Course

'''

class_data_df = pd.read_sql(query, conn)
class_data_df.head()

In [ ]:
class_data_df.rename(columns={
    'CourseCode':'Course_Code__c',
    'Section':'Section__c',
    'StartDate':'Start_Date__c',
    'EndDate':'End_Date__c',
    'CourseCode':'Course_Code__c'
}, inplace=True)


class_data_df = class_data_df[['Course_Code__c', 'Section__c', 'Start_Date__c', 'End_Date__c']]
class_data_df

## Join the Class Participant DataFrame with the Student lookup table
This join is necessary to successfully lookup the foreign key for the Course table

In [ ]:
class_data_df = pd.merge(class_data_df, course_lookup_df, how='left')
#class_data_df.drop(columns = ['ID_Class','ID_Course','CourseName','CreditHours','BootCampCourse','Course_Code__c'], inplace=True)

class_data_df.head()

In [ ]:
class_data_df
class_data_df['Start_Date__c'] = pd.to_datetime(class_data_df['Start_Date__c']).dt.date
class_data_df['End_Date__c'] = pd.to_datetime(class_data_df['End_Date__c']).dt.date

class_data_df.head()

In [ ]:
class_data_records = class_data_df.to_dict(orient='records')
class_data_records

## Insert `Class Participant` Records into Salesforce

In [ ]:
for rec in class_data_records:
 
    record = {
        'ID_Course__c': rec['ID_Course__c'],
        'Section__c': rec['Section__c'],
        'Start_Date__c': str(rec['Start_Date__c']),
        'End_Date__c': str(rec['End_Date__c']),
    }
    
    try:
        sf.Class__C.create(record)
    except Exception as e:
        print(e)

## Example of Deleting Records

Select the IDs of the records first and then process the results.

Ultimately, you want a list of IDs in the end.

In [ ]:
student_records = sf.query("SELECT Id FROM Course__c")
recs_to_delete = [{'Id': r['Id']} for r in student_records['records']]
recs_to_delete

In [ ]:
# sf.bulk.Student__c.delete(recs_to_delete)

In [ ]:
for rec in recs_to_delete:
    try:
        sf.Student__c.delete(rec['Id'])
    except Exception as e:
        print(e)